@charset "UTF-8";
/* BASE */
@import url(https://fonts.googleapis.com/css?family=DM+Sans:regular,500,700);
@-webkit-keyframes mobileMenu {
  from {
    -webkit-transform: translateX(400px);
            transform: translateX(400px);
  }
  to {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}
@keyframes mobileMenu {
  from {
    -webkit-transform: translateX(400px);
            transform: translateX(400px);
  }
  to {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}
/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

/*FONTS*/
/*FONTS*/
/*COLORS*/
/*COLORS*/
/*MEDIA*/
/*MEDIA*/
body {
  font-family: "DM SANS";
  font-size: 16px;
}

a {
  -webkit-transition: color 0.2s linear, text-shadow 0.2s linear;
  transition: color 0.2s linear, text-shadow 0.2s linear;
}
a:hover {
  color: #193766 !important;
  text-shadow: 0 0 #193766;
}

.overlayBlue {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#e4efff), color-stop(92.51%, rgba(228, 239, 255, 0.6)), to(rgba(228, 239, 255, 0)));
  background: linear-gradient(180deg, #e4efff 0%, rgba(228, 239, 255, 0.6) 92.51%, rgba(228, 239, 255, 0) 100%);
  z-index: -2;
}

.container {
  max-width: 1200px;
  padding: 0 10px;
  margin: 0 auto;
}
.container_tamplates {
  max-width: 1240px;
}
.container_customize {
  max-width: 1198px;
}

.none {
  display: none !important;
}

.title1 {
  color: #193766;
  font-size: clamp(2.5rem, 2.071rem + 2.14vw, 4rem);
  font-weight: 400;
  line-height: clamp(3.375rem, 3.018rem + 1.79vw, 4.625rem); /* 115.625% */
}
.title1_download span {
  font-size: clamp(2.5rem, 2.071rem + 2.14vw, 4rem);
  font-weight: 700;
  text-decoration-line: underline;
}

.title2 {
  color: #193766;
  font-size: clamp(1.25rem, 1.036rem + 1.07vw, 2rem);
  font-weight: 500;
  line-height: clamp(1.625rem, 1.304rem + 1.61vw, 2.75rem);
}
.title2_benefits {
  text-align: center;
}
.title2_templates span {
  text-decoration: underline;
}
.title2_customize span {
  text-decoration: underline;
}
.title2_optimize span {
  text-decoration: underline;
}
.title2_personal span {
  text-decoration: underline;
  color: #3b82f6;
}
.title2_video {
  color: #fff;
}
.title2_video span {
  text-decoration: underline !important;
}

.title4 {
  color: #193766;
  font-size: clamp(1.25rem, 1.179rem + 0.36vw, 1.5rem);
  font-weight: 700;
  line-height: 44px; /* 183.333% */
}

.subtitleP {
  color: #697b98;
  font-size: clamp(1rem, 0.893rem + 0.54vw, 1.375rem);
  font-weight: 400;
  line-height: 30px; /* 187.5% */
}
.subtitleP_download {
  font-size: clamp(1rem, 0.893rem + 0.54vw, 1.375rem);
  line-height: clamp(1.25rem, 0.964rem + 1.43vw, 2.25rem); /* 163.636% */
}
.subtitleP_video {
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px; /* 187.5% */
}

.subtitleElem {
  color: #193766;
  font-size: clamp(0.813rem, 0.759rem + 0.27vw, 1rem);
  font-weight: 400;
  line-height: clamp(1.063rem, 0.83rem + 1.16vw, 1.875rem);
  padding-left: 26px;
}
.subtitleElem span {
  position: relative;
  color: #3b82f6;
  font-weight: 700;
}
.subtitleElem span::before {
  content: "";
  width: 15px;
  height: 15px;
  background-color: #3b82f6;
  position: absolute;
  left: -18px;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

button {
  font-size: clamp(0.688rem, 0.598rem + 0.45vw, 1rem) !important;
}

.nav-icon-btn {
  --time: 0.1s;
  --width: 40px;
  --height: 30px;
  --line-height: 1px;
  --line-margin: 2;
  --color: #000;
  height: var(--height);
  width: var(--width);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-icon {
  position: relative;
  width: var(--width);
  height: var(--line-height);
  background-color: var(--color);
}

.nav-icon::before,
.nav-icon::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: var(--width);
  height: var(--line-height);
  background-color: var(--color);
  -webkit-transition: top var(--time) linear var(--time), -webkit-transform var(--time) ease-in;
  transition: top var(--time) linear var(--time), -webkit-transform var(--time) ease-in;
  transition: transform var(--time) ease-in, top var(--time) linear var(--time);
  transition: transform var(--time) ease-in, top var(--time) linear var(--time), -webkit-transform var(--time) ease-in;
}

.nav-icon::before {
  top: calc(var(--line-height) * -8);
}

.nav-icon::after {
  top: calc(var(--line-height) * 8);
}

.nav-icon.nav-icon--active {
  background-color: transparent;
}

.nav-icon.nav-icon--active::before,
.nav-icon.nav-icon--active::after {
  top: 0;
  -webkit-transition: top var(--time) linear, -webkit-transform var(--time) ease-in var(--time);
  transition: top var(--time) linear, -webkit-transform var(--time) ease-in var(--time);
  transition: top var(--time) linear, transform var(--time) ease-in var(--time);
  transition: top var(--time) linear, transform var(--time) ease-in var(--time), -webkit-transform var(--time) ease-in var(--time);
}

.nav-icon.nav-icon--active::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.nav-icon.nav-icon--active::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

/* BASE */
/* BLOCK */
.header {
  position: relative;
  padding: clamp(1.563rem, 0.848rem + 3.57vw, 4.063rem) 0;
}
.header::after {
  content: url(./../../content/header/fromBG.png);
  position: absolute;
  right: 0;
  top: 0;
  z-index: -2;
}

.header__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 150px 1fr 150px;
  grid-template-columns: 150px 1fr 150px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__grid_logotype a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
}
.header__grid_logotype a:hover {
  text-shadow: unset;
}
.header__grid_logotype span {
  color: #193766;
  font-size: 18px;
  font-weight: 700;
  line-height: normal;
}

.header__grid_nav {
  margin-left: 124px;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 50px;
     -moz-column-gap: 50px;
          column-gap: 50px;
}

.nav__list_link {
  color: rgba(0, 21, 51, 0.6) !important;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}

.header__grid_button button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 25px;
  background-color: #fff;
  border-radius: 6px;
  color: #3b82f6;
  font-size: 18px;
  font-weight: 700;
  line-height: normal;
  -webkit-transition: -webkit-transform 0.1s linear, -webkit-box-shadow 0.1s linear;
  transition: -webkit-transform 0.1s linear, -webkit-box-shadow 0.1s linear;
  transition: transform 0.1s linear, box-shadow 0.1s linear;
  transition: transform 0.1s linear, box-shadow 0.1s linear, -webkit-transform 0.1s linear, -webkit-box-shadow 0.1s linear;
}
.header__grid_button button:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-box-shadow: 0 0 5px #fff;
          box-shadow: 0 0 5px #fff;
}

@media screen and (max-width: 1000px) {
  .header__grid {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
  .header__grid_nav {
    display: none;
  }
  .header__grid_button {
    display: none;
  }
  .header__grid_logotype span {
    display: none;
  }
}
@media screen and (max-width: 500px) {
  .header:after {
    display: none;
  }
}
.burger-checkbox {
  position: absolute;
  visibility: hidden;
}

.burger {
  cursor: pointer;
  display: block;
  position: relative;
  border: none;
  background: transparent;
  width: 40px;
  height: 26px;
  z-index: 21;
}

.burger::before,
.burger::after {
  content: "";
  left: 0;
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 10px;
  background: #55adff;
}

.burger::before {
  top: 0;
  -webkit-box-shadow: 0 11px 0 #55adff;
          box-shadow: 0 11px 0 #55adff;
  -webkit-transition: top 0.3s 0.15s, -webkit-box-shadow 0.3s 0.15s, -webkit-transform 0.3s;
  transition: top 0.3s 0.15s, -webkit-box-shadow 0.3s 0.15s, -webkit-transform 0.3s;
  transition: box-shadow 0.3s 0.15s, top 0.3s 0.15s, transform 0.3s;
  transition: box-shadow 0.3s 0.15s, top 0.3s 0.15s, transform 0.3s, -webkit-box-shadow 0.3s 0.15s, -webkit-transform 0.3s;
}

.burger::after {
  bottom: 0;
  -webkit-transition: bottom 0.3s 0.15s, -webkit-transform 0.3s;
  transition: bottom 0.3s 0.15s, -webkit-transform 0.3s;
  transition: bottom 0.3s 0.15s, transform 0.3s;
  transition: bottom 0.3s 0.15s, transform 0.3s, -webkit-transform 0.3s;
}

.burger-checkbox:checked + .burger::before {
  top: 11px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-box-shadow: 0 6px 0 rgba(0, 0, 0, 0);
          box-shadow: 0 6px 0 rgba(0, 0, 0, 0);
  -webkit-transition: top 0.3s, -webkit-box-shadow 0.15s, -webkit-transform 0.3s 0.15s;
  transition: top 0.3s, -webkit-box-shadow 0.15s, -webkit-transform 0.3s 0.15s;
  transition: box-shadow 0.15s, top 0.3s, transform 0.3s 0.15s;
  transition: box-shadow 0.15s, top 0.3s, transform 0.3s 0.15s, -webkit-box-shadow 0.15s, -webkit-transform 0.3s 0.15s;
}

.burger-checkbox:checked + .burger::after {
  bottom: 11px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: bottom 0.3s, -webkit-transform 0.3s 0.15s;
  transition: bottom 0.3s, -webkit-transform 0.3s 0.15s;
  transition: bottom 0.3s, transform 0.3s 0.15s;
  transition: bottom 0.3s, transform 0.3s 0.15s, -webkit-transform 0.3s 0.15s;
}

.header {
  position: relative;
}

.header__grid_burger {
  display: none;
  -ms-grid-column-align: end;
      justify-self: end;
  z-index: 2;
}

.header__grid_nav_mobile {
  position: absolute;
  right: 0px;
  top: 0;
  bottom: 0;
  width: 100%;
  max-width: clamp(20rem, 17.647rem + 11.76vw, 25rem);
  background-color: #fff;
}

/* CSS для анимации */
.hideMenu {
  animation: mobileMenu 0.2s reverse forwards;
}

.showMenu {
  -webkit-animation: mobileMenu 0.2s forwards;
          animation: mobileMenu 0.2s forwards;
}

@media screen and (max-width: 1000px) {
  .header__grid_burger {
    display: block;
  }
}
.download {
  overflow-x: hidden;
  z-index: 1;
}

.download__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.download__row_text {
  padding: 64px 0;
  max-width: 537px;
}

.row_text_title {
  margin-bottom: clamp(0.625rem, 0.446rem + 0.89vw, 1.25rem);
}

.row_text_sutitle {
  margin-bottom: clamp(1.25rem, 0.893rem + 1.79vw, 2.5rem);
}

.row_text_buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
}

.text_buttons_button button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: clamp(0.313rem, 0.134rem + 0.89vw, 0.938rem);
     -moz-column-gap: clamp(0.313rem, 0.134rem + 0.89vw, 0.938rem);
          column-gap: clamp(0.313rem, 0.134rem + 0.89vw, 0.938rem);
  padding: clamp(0.625rem, 0.446rem + 0.89vw, 1.25rem) clamp(0.625rem, 0.268rem + 1.79vw, 1.875rem);
  background-color: #c6dbff;
  border-radius: 6px;
  color: #3b82f6;
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
  -webkit-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
}
.text_buttons_button button path {
  stroke: #3b82f6;
}
.text_buttons_button button:hover {
  background-color: #3b82f6;
  color: #fff;
  -webkit-box-shadow: 0px 30px 60px 0px rgba(59, 130, 246, 0.25);
          box-shadow: 0px 30px 60px 0px rgba(59, 130, 246, 0.25);
}
.text_buttons_button button:hover path {
  stroke: #fff;
}

@media screen and (max-width: 1150px) {
  .download__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.download__row_images {
  position: relative;
  max-width: 583px;
  width: 100%;
  height: 582px;
}

.row__images_image {
  position: absolute;
  border-radius: 10px;
  -webkit-box-shadow: 0px 30px 60px 0px rgba(59, 130, 246, 0.25);
          box-shadow: 0px 30px 60px 0px rgba(59, 130, 246, 0.25);
}

#avocado {
  right: 33px;
  bottom: 128px;
}

#med {
  top: 79px;
  right: 400px;
}

#nullOne {
  right: 20px;
  top: 0;
}

.row__images_wrapper {
  position: absolute;
  width: 314px;
  height: 314px;
  bottom: 8px;
  left: 8px;
}

#person {
  position: relative;
  border: 3px solid #55adff;
}

#things {
  right: 140px;
  top: 0;
}

#time {
  right: 0;
  top: 107px;
}

.row__images_pseudo {
  width: 16px;
  height: 16px;
  background-color: #fff;
  border: 2px solid #55adff;
}

#personPseudoOne {
  position: absolute;
  bottom: -5px;
  left: -8px;
}

#personPseudoTwo {
  position: absolute;
  top: -5px;
  left: -8px;
}

#personPseudoThree {
  position: absolute;
  top: -5px;
  right: -7px;
}

#personPseudoFour {
  position: absolute;
  bottom: -5px;
  right: -7px;
}

@media screen and (max-width: 600px) {
  .download__row_images {
    display: none;
  }
}
.benefits {
  position: relative;
  padding: 64px 0;
}
.benefits::before {
  content: url("./../../content/main/benefits/formBenefits.png");
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

.benefits__title {
  max-width: 574px;
  margin: 0 auto clamp(1.875rem, 0.857rem + 5.09vw, 5.438rem);
}

.benefits__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}

.benefits__row_card {
  padding: clamp(1.875rem, 1.518rem + 1.79vw, 3.125rem);
  border-radius: 10px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.benefits__row_card:hover {
  background-color: #193766;
  cursor: pointer;
}
.benefits__row_card:hover .row_card_icon {
  background: rgba(255, 255, 255, 0.08);
}
.benefits__row_card:hover .subtitleP_card {
  color: rgba(255, 255, 255, 0.8);
}
.benefits__row_card:hover .title4_card {
  color: #fff;
}

.row_card_icon {
  background-color: #193766;
  border-radius: 6px;
  padding: clamp(0.625rem, 0.446rem + 0.89vw, 1.25rem);
  margin-bottom: clamp(0.313rem, 0.045rem + 1.34vw, 1.25rem);
  width: clamp(3.125rem, 2.768rem + 1.79vw, 4.375rem);
  height: clamp(3.125rem, 2.768rem + 1.79vw, 4.375rem);
}

.row_card_title {
  margin-bottom: clamp(0rem, -0.179rem + 0.89vw, 0.625rem);
}

.row_card_subtitle p {
  font-size: clamp(0.875rem, 0.839rem + 0.18vw, 1rem);
  line-height: clamp(1.25rem, 1.071rem + 0.89vw, 1.875rem);
}

@media screen and (max-width: 1000px) {
  .benefits__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.tamplates {
  position: relative;
  padding: 0 0 0px;
}
.tamplates::after {
  content: url("./../../content/main/tamplates/cirlceOneTemplates.png");
  position: absolute;
  right: 0%;
  top: 0%;
  z-index: -1;
}
.tamplates::before {
  content: url("./../../content/main/tamplates/cirlceTwoTemplates.png");
  position: absolute;
  right: 0;
  top: 22%;
  z-index: -1;
}

.templates__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.temlates__row_text {
  padding: 109px 0;
  max-width: 574px;
}

.template__row_text_title {
  margin-bottom: clamp(0.625rem, 0.446rem + 0.89vw, 1.25rem);
}

.templates__row_text_subtitle {
  margin-bottom: clamp(0.625rem, 0.446rem + 0.89vw, 1.25rem);
}

@media screen and (max-width: 1210px) {
  .templates__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.templates__row_images {
  position: relative;
  max-width: 625px;
  width: 100%;
  height: 605px;
}

#imgDesigner {
  right: 163px;
  bottom: 0;
}

#imgAvocado {
  top: 36px;
  right: 0;
}

#imgMed {
  top: 81px;
  left: 0;
}

#imgThings {
  top: 0;
  left: 176px;
}

@media screen and (max-width: 600px) {
  .templates__row_images {
    display: none;
  }
}
.customize {
  position: relative;
  padding: 0 0;
  overflow: hidden;
}
.customize::after {
  content: url("./../../content/main/customize/customizeFormOne.png");
  position: absolute;
  left: 0;
  top: 22%;
  z-index: -1;
}
.customize::before {
  content: url("./../../content/main/customize/customizeFormTwo.png");
  position: absolute;
  left: -26px;
  top: 17%;
  z-index: -1;
}

.customize__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.customize__row_text {
  max-width: 571px;
  padding: 102px 0;
}

.customize__row_text_title {
  margin-bottom: clamp(0.625rem, 0.446rem + 0.89vw, 1.25rem);
}

.customize__row_text_subtitle {
  margin-bottom: clamp(0.625rem, 0.446rem + 0.89vw, 1.25rem);
}

@media screen and (max-width: 1150px) {
  .customize__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.customize__row_images {
  position: relative;
  max-width: 575px;
  width: 100%;
  height: 591px;
}

#customizeFigOne {
  right: 35px;
  top: 0;
}

#customizeFigTwo {
  right: 63px;
  bottom: 95px;
}

#customizeFigThree {
  left: 35px;
  top: 97px;
}

#customizeFigFour {
  left: 73px;
  bottom: 0;
}

@media screen and (max-width: 600px) {
  .customize__row_images {
    display: none;
  }
}
.video {
  background-image: url("/content/main/video/formBG.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0 130px;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
}

.video__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.video__row_cover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  padding: 10px 20px;
  border-radius: 100px;
  background: rgba(59, 130, 246, 0.1);
  margin-bottom: clamp(1.25rem, 0.893rem + 1.79vw, 2.5rem);
}
.video__row_cover span {
  color: #3b82f6;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.6px;
}

.video__row_title {
  max-width: 777px;
  margin: 0 auto clamp(1.875rem, 1.339rem + 2.68vw, 3.75rem);
  text-align: center;
  font-size: 32px;
  font-weight: 500;
  line-height: 44px; /* 137.5% */
}

.video__row_video {
  position: relative;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 30px;
  padding: clamp(3.125rem, 2.768rem + 1.79vw, 4.375rem) clamp(0.625rem, 0.268rem + 1.79vw, 1.875rem) clamp(1.25rem, 0.893rem + 1.79vw, 2.5rem);
  margin-bottom: clamp(1.875rem, 1.339rem + 2.68vw, 3.75rem);
}
.video__row_video img {
  border-radius: 10px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.video__row_video img:hover {
  cursor: pointer;
}
.video__row_video::after {
  content: "Figma";
  position: absolute;
  left: 50%;
  top: 21px;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  color: rgba(255, 255, 255, 0.4);
  font-size: 22px;
  font-weight: 500;
  line-height: 30px; /* 136.364% */
}

.video_play {
  position: absolute;
  left: 50%;
  top: 54.6995377504%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: clamp(3.125rem, 1.339rem + 8.93vw, 9.375rem);
  height: clamp(3.125rem, 1.339rem + 8.93vw, 9.375rem);
  background-color: #fff;
  border-radius: 50%;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.video_play svg {
  width: clamp(1.25rem, 0.804rem + 2.23vw, 2.813rem);
}
.video_play path {
  stroke: #3b82f6;
  fill: #3b82f6;
}
.video_play:hover {
  cursor: pointer;
  background-color: #3b82f6;
  -webkit-box-shadow: 0px 30px 60px 0px rgba(59, 130, 246, 0.25);
          box-shadow: 0px 30px 60px 0px rgba(59, 130, 246, 0.25);
}
.video_play:hover path {
  stroke: #fff;
  fill: #fff;
}

.cirlce__wrapper {
  position: absolute;
  left: 3.036437247%;
  top: 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 13px;
     -moz-column-gap: 13px;
          column-gap: 13px;
}

.cirlce {
  width: clamp(0.813rem, 0.705rem + 0.54vw, 1.188rem);
  height: clamp(0.813rem, 0.705rem + 0.54vw, 1.188rem);
  border-radius: 50%;
}
.cirlce_red {
  background-color: #fc1f6f;
}
.cirlce_yellow {
  background-color: #FFCC18;
}
.cirlce_green {
  background-color: #1DF359;
}

.video__row_subtitle {
  max-width: 777px;
}

.optimize {
  position: relative;
  padding: 30px 0;
}
.optimize::after {
  content: url("./../../content/main/optimize/circleOptimized.png");
  position: absolute;
  right: 0;
  top: 21%;
  z-index: -1;
}

.optimize__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 160px;
     -moz-column-gap: 160px;
          column-gap: 160px;
}

.optimize__text {
  max-width: 574px;
}

.optimize__text_title {
  margin-bottom: clamp(0.625rem, 0.446rem + 0.89vw, 1.25rem);
}

.optimize__text_subtitle {
  margin-bottom: clamp(1.875rem, 1.696rem + 0.89vw, 2.5rem);
}

.optimize__text_wrapper_elem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 10px;
  padding: clamp(0.938rem, 0.759rem + 0.89vw, 1.563rem) clamp(1.563rem, 1.384rem + 0.89vw, 2.188rem);
  -webkit-transition: background-color 0.2s linear, -webkit-transform 0.1s linear;
  transition: background-color 0.2s linear, -webkit-transform 0.1s linear;
  transition: background-color 0.2s linear, transform 0.1s linear;
  transition: background-color 0.2s linear, transform 0.1s linear, -webkit-transform 0.1s linear;
}
.optimize__text_wrapper_elem span {
  color: #193766;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px; /* 187.5% */
}
.optimize__text_wrapper_elem path {
  stroke: #193766;
}
.optimize__text_wrapper_elem:hover {
  cursor: pointer;
  background-color: #3b82f6;
  -webkit-box-shadow: 0px 30px 60px 0px rgba(59, 130, 246, 0.25);
          box-shadow: 0px 30px 60px 0px rgba(59, 130, 246, 0.25);
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}
.optimize__text_wrapper_elem:hover span {
  color: #fff;
}
.optimize__text_wrapper_elem:hover path {
  stroke: #fff;
}

.optimize__image img {
  border-radius: 27px;
  -webkit-box-shadow: 0px 30px 60px 0px rgba(59, 130, 246, 0.25);
          box-shadow: 0px 30px 60px 0px rgba(59, 130, 246, 0.25);
}

@media screen and (max-width: 1150px) {
  .optimize__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    row-gap: 20px;
  }
}
.personal {
  position: relative;
  overflow-x: hidden;
}
.personal::before {
  content: url("./../../content/main/personal/formPersonal.png");
  position: absolute;
  left: 0;
  top: 14%;
  z-index: -1;
}

.personal__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 85px;
     -moz-column-gap: 85px;
          column-gap: 85px;
}

.personal__row_image img {
  border-radius: 10px;
  -webkit-box-shadow: 0px 30px 60px 0px rgba(59, 130, 246, 0.25);
          box-shadow: 0px 30px 60px 0px rgba(59, 130, 246, 0.25);
}

.personal__row_text {
  max-width: 574px;
  padding: clamp(2.188rem, 1.473rem + 3.57vw, 4.688rem) 0;
}

.personal__row_text_title {
  margin-bottom: 15px;
}

.personal__row_text_subtitle {
  margin-bottom: 15px;
}

.personal__row_text_wrapper {
  margin-bottom: 30px;
}

.personal__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 10px;
}

.personal__list_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
  color: #193766;
  font-size: clamp(0.563rem, 0.438rem + 0.63vw, 1rem);
  font-weight: 400;
  line-height: 30px; /* 187.5% */
}

.personal__list_item_image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 24px;
  height: 23px;
  background: rgba(30, 189, 136, 0.1);
  border-radius: 100px;
}

.personal__list_item_image_off {
  background: rgba(239, 70, 70, 0.1);
}

.personal__row_text_button button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
  padding: clamp(0.313rem, 0.134rem + 0.89vw, 0.938rem) clamp(0.938rem, 0.759rem + 0.89vw, 1.563rem);
  border: 2px solid #3b82f6;
  border-radius: 6px;
  color: #3b82f6;
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
  -webkit-transition: background-color 0.2s linear, -webkit-box-shadow 0.2s linear;
  transition: background-color 0.2s linear, -webkit-box-shadow 0.2s linear;
  transition: background-color 0.2s linear, box-shadow 0.2s linear;
  transition: background-color 0.2s linear, box-shadow 0.2s linear, -webkit-box-shadow 0.2s linear;
}
.personal__row_text_button button svg {
  width: clamp(1rem, 0.857rem + 0.71vw, 1.5rem);
}
.personal__row_text_button button path {
  stroke: #3b82f6;
}
.personal__row_text_button button:hover {
  background-color: #3b82f6;
  color: #fff;
  -webkit-box-shadow: 0px 30px 60px 0px rgba(59, 130, 246, 0.25);
          box-shadow: 0px 30px 60px 0px rgba(59, 130, 246, 0.25);
}
.personal__row_text_button button:hover path {
  stroke: #fff;
}

@media screen and (max-width: 1100px) {
  .personal__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.social {
  padding: 0 0 clamp(0rem, -2.273rem + 11.36vw, 6.25rem);
}

.social__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social__wrapper_cover {
  color: #3b82f6;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.6px;
  background: rgba(59, 130, 246, 0.1);
  border-radius: 100px;
  padding: 10px 20px;
  margin-bottom: clamp(0.625rem, 0.446rem + 0.89vw, 1.25rem);
}

.social__wrapper_title {
  color: #193766;
  text-align: center;
  font-size: 32px;
  font-weight: 500;
  line-height: 44px; /* 137.5% */
  margin-bottom: clamp(0.625rem, 0.446rem + 0.89vw, 1.25rem);
}
.social__wrapper_title span {
  color: #3b82f6;
  font-size: 32px;
  text-decoration-line: underline;
}

.social__wrapper_subtitle {
  color: var(--Muted, #697b98);
  font-size: 16px;
  font-weight: 400;
  line-height: 30px; /* 187.5% */
  text-align: center;
  max-width: 574px;
  margin: 0 auto clamp(1.25rem, 0.893rem + 1.79vw, 2.5rem);
}

.social__wrapper_buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
}

.social_buttons_button button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
  padding: clamp(0.625rem, 0.446rem + 0.89vw, 1.25rem) clamp(1.25rem, 1.071rem + 0.89vw, 1.875rem);
  background-color: #c6dbff;
  border-radius: 6px;
  color: #3b82f6;
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
  -webkit-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
}
.social_buttons_button button path {
  stroke: #3b82f6;
}
.social_buttons_button button:hover {
  background-color: #3b82f6;
  color: #fff;
  -webkit-box-shadow: 0px 30px 60px 0px rgba(59, 130, 246, 0.25);
          box-shadow: 0px 30px 60px 0px rgba(59, 130, 246, 0.25);
}
.social_buttons_button button:hover path {
  stroke: #fff;
}
.social_buttons_button_twitter {
  position: relative;
}
.social_buttons_button_twitter button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
  padding: clamp(0.625rem, 0.446rem + 0.89vw, 1.25rem) clamp(1.25rem, 1.071rem + 0.89vw, 1.875rem);
  background-color: #c6dbff;
  border-radius: 6px;
  color: #3b82f6;
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
  -webkit-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
}
.social_buttons_button_twitter button path {
  stroke: #3b82f6;
}
.social_buttons_button_twitter::before {
  content: url("./../../content/main/social/sign.png");
  position: absolute;
  right: -113px;
  bottom: -79px;
}
.social_buttons_button_twitter button:hover {
  background-color: #1da1f2;
  color: #fff;
  -webkit-box-shadow: 0px 30px 60px 0px rgba(29, 161, 242, 0.25);
          box-shadow: 0px 30px 60px 0px rgba(29, 161, 242, 0.25);
}
.social_buttons_button_twitter button:hover path {
  stroke: #fff;
}

@media screen and (max-width: 656px) {
  .social_buttons_button_twitter::before {
    display: none;
  }
}
.footer {
  background-image: url("./../../content/footer/footerBG.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: clamp(6.25rem, 3.977rem + 11.36vw, 12.5rem) 0 clamp(4.063rem, 2.777rem + 6.43vw, 8.563rem);
  padding-top: clamp(9.063rem, 7.813rem + 6.25vw, 12.5rem);
}

.footer__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 6fr 28px 2fr 28px 2fr 28px 2fr;
  grid-template-columns: 6fr 2fr 2fr 2fr;
  -webkit-column-gap: 28px;
     -moz-column-gap: 28px;
          column-gap: 28px;
  color: rgba(255, 255, 255, 0.8);
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
}

.footer__grid_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 15px;
}

.grid_info_logotype_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 15px;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  line-height: normal;
}

.footer__copyright {
  color: rgba(255, 255, 255, 0.4);
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.4px;
  border-top: 1px solid rgba(255, 255, 255, 0.05);
  margin-top: clamp(2rem, 1.464rem + 2.68vw, 3.875rem);
  padding: clamp(1.25rem, 0.804rem + 2.23vw, 2.813rem) 0 0;
}

.footer__list_item_type + .footer__list_item_type {
  margin-top: 8px;
}

.footer__list_item_theme {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 700;
  line-height: normal;
  margin-bottom: 20px;
}

.footer__list_link:hover {
  color: #697b98 !important;
}

@media screen and (max-width: 1000px) {
  .footer__grid {
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
    row-gap: 20px;
  }
  .footer__grid_info {
    -ms-grid-column-span: 3;
    grid-column: span 3;
  }
}
@media screen and (max-width: 600px) {
  .footer__grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .footer__grid_info {
    grid-column: unset;
  }
}
/* BLOCK */