.customize {
  position: relative;

  padding: 0 0;

  overflow: hidden;

  &::after {
    content: url("./../../content/main/customize/customizeFormOne.png");
    position: absolute;
    left: 0;
    top: 22%;
    z-index: -1;
  }

  &::before {
    content: url("./../../content/main/customize/customizeFormTwo.png");
    position: absolute;
    left: -26px;
    top: 17%;
    z-index: -1;
  }
}

.customize__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.customize__row_text {
  max-width: 571px;
  padding: 102px 0;
}
.customize__row_text_title {
  margin-bottom: clamp(0.625rem, 0.446rem + 0.89vw, 1.25rem);
}

.customize__row_text_subtitle {
  margin-bottom: clamp(0.625rem, 0.446rem + 0.89vw, 1.25rem);
}

@media screen and (max-width: 1150px) {
  .customize__row {
    flex-wrap: wrap;
    justify-content: center;
  }
}

