.customize__row_images {
  position: relative;
  max-width: 575px;
  width: 100%;
  height: 591px;

//   overflow: hidden;
}

#customizeFigOne {
    right: 35px;
    top: 0;
}
#customizeFigTwo {
    right: 63px;
    bottom: 95px;
}
#customizeFigThree {
    left: 35px;
    top: 97px;
}
#customizeFigFour {
    left: 73px;
    bottom: 0;
}

@include mediaImage {
  .customize__row_images {
    display: none;
  }
}