.download {
  overflow: hidden;
  z-index: 1;
  // padding-bottom: clamp(1.875rem, 0.625rem + 6.25vw, 6.25rem);
}

.download__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.download__row_text {
  padding: clamp(1.5rem, 0.786rem + 3.57vw, 4rem) 0;


  max-width: 537px;
}

.row_text_title {
  margin-bottom: clamp(0.625rem, 0.446rem + 0.89vw, 1.25rem);
}

.row_text_sutitle {
  margin-bottom: clamp(1.25rem, 0.893rem + 1.79vw, 2.5rem);
}

.row_text_buttons {
  display: flex;
  align-items: center;
  column-gap: 15px;
}

.text_buttons_button {
  button {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: clamp(0.313rem, 0.134rem + 0.89vw, 0.938rem);

    padding: clamp(0.625rem, 0.446rem + 0.89vw, 1.25rem)
      clamp(0.625rem, 0.268rem + 1.79vw, 1.875rem);
    background-color: $colorAccent;
    border-radius: 6px;

    color: $colorAccentHover;
    font-size: 16px;
    font-weight: 700;
    line-height: normal;

    path {
      stroke: $colorAccentHover;
    }

    transition: background-color 0.2s linear;
  }

  button:hover {
    background-color: $colorAccentHover;
    color: $colorWhite;
    box-shadow: 0px 30px 60px 0px rgba(59, 130, 246, 0.25);

    path {
      stroke: $colorWhite;
    }
  }
}

@include mediaImages {
  .download__row {
    flex-wrap: wrap;
    justify-content: center;
  }
}
