.footer {
  background-image: url("./../../content/footer/footerBG.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: clamp(6.25rem, 3.977rem + 11.36vw, 12.5rem) 0 clamp(4.063rem, 2.777rem + 6.43vw, 8.563rem);
  padding-top: clamp(9.063rem, 7.813rem + 6.25vw, 12.5rem);
}
.container {
}
.footer__grid {
  display: grid;
  grid-template-columns: 6fr 2fr 2fr 2fr;
  column-gap: 28px;

  color: $colorSubtitleMuted;
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
}
.footer__grid_info {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.grid_info_logotype_wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 15px;

  color: $colorWhite;
  font-size: 18px;
  font-weight: 700;
  line-height: normal;
}
.footer__grid_products {
}
.footer__grid_company {
}
.footer__grid_socials {
}
.footer__copyright {
  color: $colorCopyright;
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.4px;

  border-top: 1px solid $colorCopyrightBorder;

  margin-top: clamp(2rem, 1.464rem + 2.68vw, 3.875rem);
  padding: clamp(1.25rem, 0.804rem + 2.23vw, 2.813rem) 0 0;
}

.footer__list {
}
.footer__list_item {
}
.footer__list_item_type {
  & + & {
    margin-top: 8px;
  }
}
.footer__list_item_theme {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 700;
  line-height: normal;

  margin-bottom: 20px;
}
.footer__list_link {
  &:hover {
    color: $colorSubtitle !important;
  }
}

@include mediaMobile {
  .footer__grid {
    grid-template-columns: repeat(3, 1fr);
    row-gap: 20px;
  }

  .footer__grid_info {
    grid-column: span 3;
  }
}

@include mediaImage {
  .footer__grid {
    grid-template-columns: 1fr;
  }

  .footer__grid_info {
    grid-column: unset;
  }
}
