.header {
  position: relative;
}

.header__grid_burger {
  display: none;
  justify-self: end;

  z-index: 2;
}

.header__grid_nav_mobile {
  position: absolute;
  right: 0px;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  // transform: translateX(400px);
  max-width: 320px;

  padding: 130px 50px 50px;

  background-color: $colorWhite;

  z-index: 1;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/* CSS для анимации */
// .hideMenu {
//   animation: mobileMenu 0.2s reverse forwards;
// }

// .showMenu {
//   animation: mobileMenu 0.2s forwards;
// }

.nav__list_mobile {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.header__grid_button_mobile {
  button {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: clamp(0.313rem, 0.134rem + 0.89vw, 0.938rem);

    padding: clamp(0.625rem, 0.446rem + 0.89vw, 1.25rem)
      clamp(0.625rem, 0.268rem + 1.79vw, 1.875rem);
    background-color: $colorAccent;
    border-radius: 6px;

    color: $colorAccentHover;
    font-size: 16px;
    font-weight: 700;
    line-height: normal;

    width: 100%;

    path {
      stroke: $colorAccentHover;
    }

    transition: background-color 0.2s linear;
  }
}

@include mediaMobile {
  .header__grid_burger {
    display: block;
  }
}
