.tamplates {
    padding: 100px 0 300px;
}

.templates__row {
    display: flex;
    align-items: center;
    justify-content: space-between;


}

.temlates__row_text {
    padding: 109px 0;
    max-width: 574px;
}

.template__row_text_title {
    margin-bottom: 15px;
}

.templates__row_text_subtitle {
    margin-bottom: 15px;
}


.templates__row_images {
}