body {
  font-family: $fontMain;
  // color: ;
  font-size: 16px;
}

a {
  transition: color 0.2s linear, text-shadow 0.2s linear;

  &:hover {
    color: $colorMain !important;
    text-shadow: 0 0 $colorMain;
  }
}

.overlayBlue {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: linear-gradient(
    180deg,
    #e4efff 0%,
    rgba(228, 239, 255, 0.6) 92.51%,
    rgba(228, 239, 255, 0) 100%
  );

  z-index: -2;
}

.container {
  max-width: 1200px;
  padding: 0 10px;
  margin: 0 auto;

  &_tamplates {
    max-width: 1240px;
  }

  &_customize {
    max-width: 1198px;
  }
}

.none {
  display: none !important;
}

.title1 {
  color: $colorMain;
  font-size: 64px;
  font-weight: 400;
  line-height: 74px; /* 115.625% */

  &_download {
    span {
      font-size: 64px;
      font-weight: 700;
      line-height: 74px;
      text-decoration-line: underline;
    }
  }
}

.title2 {
  color: $colorMain;
  font-size: 32px;
  font-weight: 500;
  line-height: 44px;

  &_benefits {
    text-align: center;
  }

  &_templates {
    span {
      text-decoration: underline;
    }
  }

  &_customize {
    span {
      text-decoration: underline;
    }
  }

  &_optimize {
    span {
      text-decoration: underline;
    }
  }

  &_personal {
    span {
      text-decoration: underline;
      color: $colorAccentHover;
    }
  }
}



.title4 {
  color: $colorMain;
  font-size: 24px;
  font-weight: 700;
  line-height: 44px; /* 183.333% */
}

.subtitleP {
  color: $colorSubtitle;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px; /* 187.5% */

  &_download {
    font-size: 22px;
    line-height: 36px; /* 163.636% */
  }
}

.subtitleElem {
  color: $colorMain;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  padding-left: 26px;

  span {
    position: relative;
    color: $colorAccentHover;
    font-weight: 700;

    &::before {
      content: "";
      width: 15px;
      height: 15px;
      background-color: $colorAccentHover;

      position: absolute;
      left: -18px;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
