body {
  font-family: $fontMain;
  // color: ;
  font-size: 16px;
}

a {
  transition: color 0.2s linear, text-shadow 0.2s linear;

  &:hover {
    color: $colorMain !important;
    text-shadow: 0 0 $colorMain;
  }
}

.common {
  // padding-top: ;
}

.overlayBlue {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: linear-gradient(
    180deg,
    #e4efff 0%,
    rgba(228, 239, 255, 0.6) 92.51%,
    rgba(228, 239, 255, 0) 100%
  );

  z-index: -2;
}

.container {
  max-width: 1200px;
  padding: 0 10px;
  margin: 0 auto;

  &_tamplates {
    max-width: 1240px;
  }

  &_customize {
    max-width: 1198px;
  }
}

.none {
  display: none !important;
}

.title1 {
  color: $colorMain;
  font-size: clamp(2.5rem, 2.071rem + 2.14vw, 4rem);
  font-weight: 400;
  line-height: clamp(3.375rem, 3.018rem + 1.79vw, 4.625rem); /* 115.625% */

  &_download {
    span {
      font-size: clamp(2.5rem, 2.071rem + 2.14vw, 4rem);
      font-weight: 700;
      // line-height: 74px;
      text-decoration-line: underline;
    }
  }
}

.title2 {
  color: $colorMain;
  font-size: clamp(1.25rem, 1.036rem + 1.07vw, 2rem);
  font-weight: 500;
  line-height: clamp(1.625rem, 1.304rem + 1.61vw, 2.75rem);

  &_benefits {
    text-align: center;
  }

  &_templates {
    span {
      text-decoration: underline;
    }
  }

  &_customize {
    span {
      text-decoration: underline;
    }
  }

  &_optimize {
    span {
      text-decoration: underline;
    }
  }

  &_personal {
    span {
      text-decoration: underline;
      color: $colorAccentHover;
    }
  }

  &_video {
    color: $colorWhite;
    span {
      text-decoration: underline !important;
    }
  }
}

.title4 {
  color: $colorMain;
  font-size: clamp(1.25rem, 1.179rem + 0.36vw, 1.5rem);
  font-weight: 700;
  line-height: 44px; /* 183.333% */
}

.subtitleP {
  color: $colorSubtitle;
  font-size: clamp(1rem, 0.893rem + 0.54vw, 1.375rem);
  font-weight: 400;
  line-height: 30px; /* 187.5% */

  &_download {
    font-size: clamp(1rem, 0.893rem + 0.54vw, 1.375rem);
    line-height: clamp(1.25rem, 0.964rem + 1.43vw, 2.25rem); /* 163.636% */
  }

  &_video {
    color: $colorSubtitleMuted;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 30px; /* 187.5% */
  }
}

.subtitleElem {
  color: $colorMain;
  font-size: clamp(0.813rem, 0.759rem + 0.27vw, 1rem);
  font-weight: 400;
  line-height: clamp(1.063rem, 0.83rem + 1.16vw, 1.875rem);
  padding-left: 26px;

  span {
    position: relative;
    color: $colorAccentHover;
    font-weight: 700;

    &::before {
      content: "";
      width: 15px;
      height: 15px;
      background-color: $colorAccentHover;

      position: absolute;
      left: -18px;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

button {
  font-size: clamp(0.688rem, 0.598rem + 0.45vw, 1rem) !important;
}