/*FONTS*/

$fontMain: 'DM SANS';

/*FONTS*/

/*COLORS*/

$colorWhite: #fff;
$colorMain: #193766;
$colorMainMuted: rgba(0, 21, 51, 0.6);
$colorAccent: #C6DBFF;
$colorAccentSecondary: #55ADFF;
$colorAccentHover:#3b82f6; 
$colorSubtitle: #697B98;
$colorSubtitleMuted: rgba(255, 255, 255, 0.80);
$colorCardIcon: rgba(255, 255, 255, 0.08);

/*COLORS*/

/*MEDIA*/

$tablet: 1000px;
$semiTablet: 630px;
$phone: 320px;

/*MEDIA*/