/*FONTS*/

$fontMain: "DM SANS";

/*FONTS*/

/*COLORS*/

$colorWhite: #fff;
$colorMain: #193766;
$colorMainMuted: rgba(0, 21, 51, 0.6);
$colorAccent: #c6dbff;
$colorAccentSecondary: #55adff;
$colorAccentHover: #3b82f6;
$colorSubtitle: #697b98;
$colorSubtitleMuted: rgba(255, 255, 255, 0.8);
$colorCardIcon: rgba(255, 255, 255, 0.08);
$colorDownloadBG: rgba(59, 130, 246, 0.1);
$colorTwitter: #1da1f2;
$colorCopyright: rgba(255, 255, 255, 0.4);
$colorCopyrightBorder: rgba(255, 255, 255, 0.05);
$colorBackgroundCover: rgba(59, 130, 246, 0.1);

/*COLORS*/

/*MEDIA*/

$mobile: 1000px;
$images: 1150px;
$image: 600px;

/*MEDIA*/
